.principal{
    background-image: url(https://cdn.wallpapersafari.com/72/18/dFGDRT.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#info{
    color:yellowgreen;
}

h1{
    color: #FFFFFF;

text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px rgb(255, 81, 0), 0 -18px 40px #F00;
color: #FFFFFF;
text-align: center;
}


