/* Importamos una fuente mediante una url */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* propiedades en clase general */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

/* propiedades en el body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

