@media only screen and (min-width: 360px){    
    .principal{
        background-color: black;
    }
    a:hover{
        text-decoration: none;
        border-bottom: 3px solid #39ff14;
    }
    a{
        animation: color-change 30s infinite;    
        font-weight: bold;
        font-size: 100%;
        font-family: 'Press Start 2P', cursive;
    }

    @keyframes color-change {
        0% { color: #DF1B76; }
        50% { color: #2DD7BB; }
        100% { color: #DF1B76; }
      }

    #iconsElements{
          
        flex-direction: column;
        align-items: center;

      }
    
    #iconsElements img{
        margin-bottom: 50px;
        
    }

    

}
@media only screen and (min-width: 1024px){
   

    .navbar-brand{
        position: absolute;
    }
    .navbar-nav{
        margin-left: auto;  
    }

    .navbar-nav>li{
        font-family: 'Press Start 2P', cursive;
        padding-left: 15px;
        
    }

    #iconsElements{
          
        flex-direction: row;       

    }

    #iconsElements img{
        margin-left: 50px;
        margin-right: 50px;
        
    }

    .carousel-inner{
        max-height: 600px !important;
    }
    .loginbutton{
        display: flex;
        justify-content:flex-end;
    }
    .button {
        position: absolute;
        top: 0%;
        background-color: black; 
        border: 2px solid #4CAF50; 
        color: #4CAF50;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button1 {
        border-radius: 10px;
        
    }
    
}