
@media only screen and (min-width: 360px){    
  body{
    background-image: url("/Recursos/bg-lista.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
  }

  #card{
    background-image: url("/Recursos/bg-lista.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
  }

 

  a:hover{
      text-decoration: none;
      border-bottom: 3px solid #39ff14;
  }
  
  a{
      animation: color-change 30s infinite;    
      font-weight: bold;
      font-size: 100%;
      font-family: 'Press Start 2P', cursive;
  }

  @keyframes color-change {
      0% { color: #DF1B76; }
      50% { color: #2DD7BB; }
      100% { color: #DF1B76; }
    }

 

}
@media only screen and (min-width: 1024px){
  .navbar-brand{
      position: absolute;
  }
  .navbar-nav{
      margin-left: auto;  
  }

  .navbar-nav>li{
      font-family: 'Press Start 2P', cursive;
      padding-left: 15px;
      
  }
  .loginbutton{
    display: flex;
    justify-content:flex-end; 
  }
  .button {
    position: absolute;
    top: 0%;
    background-color: black; 
    border: 2px solid #4CAF50; 
    color: #4CAF50;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    border-radius: 10px;
    
  }
  .header .navbar {
    background-color: transparent !important;
  }

} 

