@media only screen and (min-width: 360px){    

  a:hover{
      text-decoration: none;
      border-bottom: 3px solid #39ff14;
  }
  a{
      animation: color-change 30s infinite;    
      font-weight: bold;
      font-size: 100%;
      font-family: 'Press Start 2P', cursive;
  }

  @keyframes color-change {
      0% { color: #DF1B76; }
      50% { color: #2DD7BB; }
      100% { color: #DF1B76; }
    }

  #iconsElements{
        
      flex-direction: column;
      align-items: center;

    }
  
  #iconsElements img{
      margin-bottom: 50px;
      
  }

}
@media only screen and (min-width: 1024px){
  .navbar-brand{
      position: absolute;
  }
  .navbar-nav{
      margin-left: auto;  
  }

  .navbar-nav>li{
      font-family: 'Press Start 2P', cursive;
      padding-left: 15px;
      
  }

  #iconsElements{
        
      flex-direction: row;       

  }

  #iconsElements img{
      margin-left: 50px;
      margin-right: 80px;
      
  }
}




/* #imagen{
  background-image: url(/Recursos/panto.png);
  background-repeat: no-repeat;
  background-size: 100% 900%;
} */


.contenedor{
  
  opacity: 0.9;
}
.contenedor .sesion{
  
    opacity: 0.9;
}

h2{
  position: absolute;
  top: 25%;
  left: 19%;
}



/* form animation starts */
  .form {
    background: #AAA;
    text-align: center; 
    box-shadow: 0px 0px 80px 5px #AAA; 
    border-radius: 10px;  
    width: 400px; 
    height: 500px;
    margin: 30px auto 0 auto;
    padding: 5px 5px;  
    animation: bounce 1.5s infinite;
    opacity: 0.9;
  }

  .form:hover{
    animation-play-state: paused;
  }

  .name { 
    background-color: #4a4c4e;
    border-bottom: 5px solid rgb(195, 35, 17);
    color: white;
    height: 40px;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: black;
      font-size: 20px;
  }
  .name:hover{
    opacity: 0.9;
    background-color: #fb6e63; 
    border-bottom: 5px solid #1acaec;
    height:40px;
    width:380px;
    opacity: 0.9;
  }
  
  .message {   
    background-color: #4a4c4e;
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .message:hover{
    opacity: 0.9;
    background-color: #1acaec;
    border-bottom: 5px solid #fb6e63;
    height: 100px;
    width:370px;

  }

  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #2DD7BB;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    transform: translateY(-120px); 

  }

  .submit:hover{
    border-bottom: 5px solid #CB64B2;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;
    font-family: 'Press Start 2P', cursive;  
  }

  /* Sombra que asemeja que esta flotando*/
  .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
  .submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #EE78D1;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    margin-top: 150px; 

  }
